@import url("https://fonts.googleapis.com/css2?family=Danfo&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Danfo&display=swap");

body {
  margin: 0;
  // background: black;
  // background: black, linear-gradient(240deg, #FF0000 0%, rgba(255, 0, 0, 0) 100%)
  background: linear-gradient(244deg, #da0808 0.69%, rgba(255, 0, 0, 0) 61.85%), #000;
}
html,
body,
#root {
  height: 100%;
}

* {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #a50c09;
  mix-blend-mode: difference;
  filter: drop-shadow(0 0 2.75rem #d42447);
  pointer-events: none;
  z-index: 9999;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 4.4em;
    display: flex;
    position: absolute;
    top: 15vh;
    left: 32vw;
  }

  section {
    margin-top: 20vh;
  }

  span.noun {
    display: inline-block;
    min-width: 495px;
    padding-left: 0.4em;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
    text-shadow: 6px 14px 7px #000000;
  }
}
